<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.0.2 -->
  <link rel="stylesheet" href="{% static 'ProjectWebApp/vendor/css/bootstrap.min.css' %}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway:wght@300&display=swap" rel="stylesheet">

  <!-- Styles -->
  <link rel="stylesheet" href="{% static 'ProjectWebApp/css/main.css' %}">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'Home' %}">Home <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/services' %}active{% endif %}" href="{% url 'Services' %}">Services <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/shop' %}active{% endif %}" href="{% url 'Shop' %}">Shop <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/blog' %}active{% endif %}" href="{% url 'Blog' %}">Blog <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/contact' %}active{% endif %}" href="{% url 'Contact' %}">Contact <span class="visually-hidden">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>

  <main>
    <!-- Variable content -->
    {% block content %}

    {% endblock %}
  </main>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0">test
        <a href="#" class="link">
          <span>
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
          </span>
        </a>
      </p>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="{% static 'ProjectWebApp/vendor/js/bootstrap.min.js' %}"></script>
</body>

</html>